.home {
  display: flex;
  gap: 2rem;
  padding: 6rem 1rem 0rem;
  background: #255c8d;
  padding-bottom: 2rem;
  justify-content: space-around;
  align-items: center;

  font-family: "Poppins", sans-serif;

  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
    width: 100%;
  }

  .content {
    width: 50%;
    height: 100%;
    display: flex;
    color: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    h1 {
      font-size: 4rem;
      font-family: "Rancho", cursive;
      text-align: center;
      color: #ffd12f;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
      font-weight: 500;
      // color: #ffd12f;
      // text-shadow: 0px 0px 10px #0b0b0b;
      color: white;
    }
    .button {
      cursor: pointer;
      padding: 0.85rem 1rem;
      background: #0b0b0b;
      color: white;
      border-radius: 10px;
      // box-shadow: 0 0 5px 0 rgb(0, 0, 0);
      font-size: 1.2rem;
      transition: 0.3s ease all;
      &:hover {
        color: #0b0b0b;
        background: white;
        scale: 110%;
      }
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      padding: 0rem 1rem;
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
        text-align: center;
      }
      button {
        font-size: 1rem;
      }
    }
  }
  img {
    width: 28rem;

    object-fit: fill;

    border-radius: 42% 58% 52% 48% / 29% 37% 63% 71%;
    @media screen and (max-width: 1000px) {
      font-size: 3rem;
      width: 20rem;
    }
  }
  .bar {
    width: 100%;
  }
}
