@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Kanit&family=Lobster&family=Open+Sans&family=Oswald&family=Pacifico&family=Poppins:wght@400;500&family=Rancho&family=Roboto:wght@400;500&family=Ubuntu&display=swap");

* {
  margin: 0;
  /* background: #edebebfc; */
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
a {
  cursor: pointer;
}
body {
  background: #f4f2f2fc;
}
.container {
  max-width: 100%;
  min-height: 100vh;
  padding: 6rem 1.5rem 0 1.5rem;
  margin: 0 auto;
}

/* font-family: 'DM Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rancho', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */
